div.border-style {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #99918f;
}

div.first-item {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #99918f;
}

div.border-style:hover {
    transform: scale(1.05);
}

a.side-bar {
    font-size: 15px;    
}

a.side-bar:hover {
    text-decoration: none;    
}